<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
      <listener class-name="testproject.qa.TestListener"/>
  </listeners>
  <test thread-count="5" name="Test">
  <!-- dtiverType = Firefox, "chrome" -->
  <parameter name="browser" value="chrome"></parameter>
  
  <!-- Base URL -->
  <parameter name="baseurl" value="https://acceptmission.com"></parameter>
  
    <classes>
      <class name="testproject.qa.SmokeTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
